@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --color1: #fff;
    --color2 : hsl(0, 0%, 6%);
    --color3 : hsl(298, 55%, 59%);
    --color4 : hsl(266, 84%, 59%);
    --color6 : hsl(263, 48%, 26%);
    --color7 : hsl(0, 0%, 14%);
    
    --background: var(--color2);
    --foreground: var(--color1);

    --tag:var(--color7);
    
    --accent: var(--color3);
    --accent-darker: var(--color4);
    --accent-darkest:var(--color6);
 
  }

}
 
@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;  
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Montserrat", sans-serif;
  }
  html {
    font-size: 62.5% 
  }


  .post:nth-child(odd){
    justify-self: start;
  }
  .post:nth-child(even){
    justify-self: end;
  }
  .post:nth-child(3n+3){
    justify-self: center;
    transform: translateX(-10px);
  } 


  .textClip {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--color4);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
}

